html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}
main{
    color: #ececec;
}



/*-----------------HEADER----------------------*/
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    font-size: 1.5rem;
    background-color: black;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.nav-list li a{
    text-decoration: none;
    cursor: pointer;
    color: #E9D978;
}

.nav-list li a:hover{
    color: #f3ebb7;
}

.abrir-menu{
    display: none;
}
.cerrar-menu{
    display: none;
}


/*-----------------HOME----------------------*/
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.centrado{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    padding-left: 150px;
    background-color: transparent;
}
.centrado button{
    color: #E9D978;
    border-width: 1px;
    border-style: solid;
    border-color: #E9D978;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 22px;
    cursor: pointer;
    background-color: black;
}
.centrado button a{
    text-decoration: none;
    color: #E9D978;
    
}
.centrado button a:hover{
    color: black;
}
.centrado button:hover{
    background-color: #E9D978;
}
.home h1{
    color: #E9D978;
    font-weight: lighter;
    font-size: 9rem;
    margin-bottom: 15px;
    background-color: transparent;
}
.home p{
    color: white;
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
    background-color: transparent;
    width: 50%;

}
.edificio{
    width: 350px;
    padding-top: 180px;
}
.blair-y-serena{
    width: 500px;
    
} 



/*-----------------SOBRE----------------------*/
#sobre{
    background-image: url(/images/SOBRE/todos.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.sobre-cont h1{
    color: #E9D978;
    font-weight: 500;
    font-size: 8rem;
    margin-bottom: 15px;
    background-color: transparent;
}

.sobre-cont span{
    color: white;
    filter: none;
}
.sobre-cont p{
    color: white;
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
    background-color: transparent;
    width: 60%;

}
.sobre button{
    background-color: transparent;
    padding-left: 100px;
    padding-right: 100px;
}


/*-----------------PERSONAJES----------------------*/
#personajes{
    background-color: black;

}
#personajes h1{
    color: #E9D978;
    text-align: center;
    font-size: 250px;
    margin-top: -120px;
    
}

.tarjetas-personajes{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.personaje{
    text-decoration: none;
}

.personaje img{
    width: 250px;
    height: 408px;
    border-radius: 10px;
    transition: 0.5s;
}

.personaje img:hover{
    border-top-right-radius:0px;
	border-bottom-left-radius:0px;
    border-top: 1px solid #ececec;
	border-left: 1px solid #ececec;
}


.personaje h6{
    color: #E9D978;
    font-weight: lighter;
    font-size: 25px;
    text-align: center;
}

.personaje p{
    color: #ececec;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
}


/*--------------------FOOTER---------------------*/
footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.nav-list-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 50%;
    
}

.nav-list-footer li a{
    text-decoration: none;
    cursor: pointer;
    color: #E9D978;
}

.nav-list-footer li a:hover{
    color: #f3ebb7;
}

footer p{
    color: #ececec;
    text-align: center;
    margin-top: 20px;
}


/*-----------------GALERIA----------------------*/
#galeria{
    background-color: black;
    padding-top: 100px;
    margin-bottom: -100px;
    display: flex;
}

#galeria h1{
    color: #E9D978;
    font-size: 200px;
    position: relative;
    left: -75px;
    writing-mode: vertical-lr;
}

.conjunto-fotos{
    display: flex;
   margin-left: -75px;
    width: 87%;
}

.mobile-div{
    width: 82%;
}

.conjunto-fotos img{
    position: relative;
}

.img-gal-1{
    width: 280px;
    height: 289px; 
}

.img-gal-2{
    width: 451px;
    height: 705px;
    left: 20px; 
}

.img-gal-3{
    width: 285px;
    height: 406px; 
    top: 300px;
    left: -730px;
    
}

.img-gal-4{
    width: 368px;
    height: 340px; 
    left: -250px;
}

.frase {
    position: relative;
    top: -250px;
    left: 800px;
    color: #ececec;
    text-align: center;
    font-size: 1.2rem;
    width: 200px;
}

.frase h4{
    width: 200px;
}
.frase i{
    font-size: 2.5rem;
    color: #E9D978;
    margin: 15px;
}

.frase i:hover{
    cursor: pointer;
    color: #f3ebb7;
}



/*-----------------SERENA----------------------*/
.body-serena{
    background-color: black;
}

.body-serena h1{
    color: #E9D978;
    text-align: center;
    font-size: 110px;
    padding-top: 40px;
    padding-bottom: 20px;
}


.cont-columnas{
    display: flex;
    justify-content: space-around;
}

.columna1{
    display: flex;
    align-items: center;
}

.img-serena-1{
    width: 500px;
}

.img-serena-2{
    width: 350px;
}

.img-serena-3{
    width: 300px;
}


.columna3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.columna3 p{
    text-align: center;
    font-size: 16px;
    margin-top: 80px;
}


/*-----------------BLAIR----------------------*/
.body-blair{
    background-color: black;
}

.body-blair h1{
    color: #E9D978;
    font-size: 120px;
    position: relative;
    left: -50px;
    writing-mode: vertical-lr;
    margin-top: 40px;
}

.cont-blair-mayor{
    display: flex;
}

.cont-mitades{
    display: flex;
    margin-top: 40px;
}

.mitad1{
    padding-top: 100px;
}

.mitad1 p{
    text-align: center;
    font-size: 1.5rem;
}


.mitad2 img{
    width: 650px;
}

.superpuesto{
    position: relative;
    margin-top: 60px;
    left: 150px;
}


/*-----------------NATE----------------------*/

.body-nate{
    background-color: black;
}

.nate-mayor{
    display: flex;
    margin-bottom: 70px;
    margin-top: 40px;
}

.nate-mayor h1{
    color: #E9D978;
    font-size: 115px;
}

.nate-mayor p{
    text-align: center;
    font-size: 1.3rem;
    width: 85%;
    margin-left: 55px;
    margin-top: 20px;
}

.mitad img{
    width: 450px;
    margin-left: 140px;
    margin-top: 55px;
}



/*-----------------CHUCK----------------------*/
.body-chuck{
    background-color: black;
}

.cont-mitades-chuck{
    display: flex;
}

.mitad-chuck-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
}

.mitad-chuck-1 img{
    width: 75%;
}
.mitad-chuck-1 p{
    text-align: center;
    font-size: 1.3rem;
    width: 70%;
    margin-top: 80px;
}

.mitad-chuck-2 h1{
    position: relative;
    color: #E9D978;
    font-size: 120px;
    right: -455px;
    top: -150px;
    writing-mode: vertical-lr;
    margin-top: 40px;
}

.mitad-chuck-2 img{
    width: 500px;
    margin-bottom: -550px;
}















@media screen and (max-width: 480px) {

/*-----------------HEADER----------------------*/

    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        color: #E9D978;
    }
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        background-color: black;
        box-shadow: rgba(220, 212, 212, 0.05) 0px 1px 2px 0px;
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    header{
        display: flex;
        justify-content: flex-end;
    }
    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a {
       color: #E9D978;
    }
 
    
/*-----------------HOME----------------------*/
.home{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.centrado{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: 140px;
    padding-left: 0px;
    background-color: transparent;
}
.centrado button{
    color: #E9D978;
    border-width: 1px;
    border-style: solid;
    border-color: #E9D978;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 10px;
    cursor: pointer;
}
.home h1{
    color: #E9D978;
    font-weight: 200;
    font-size: 45px;
    padding: 0;
    margin-bottom: 15px;
    background-color: transparent;

}
.home p{
    color: white;
    text-align: center;
    font-size: 11px;
    margin-bottom: 15px;
    background-color: transparent;
    width: 100%;
    padding: 0;


}
.edificio{
    width: 180px;
    padding-top: 0px;
}
.blair-y-serena{
    width: 180px;
    height: 280px;
}



/*-----------------SOBRE----------------------*/
#sobre{
    background-image: url(/images/SOBRE/todos.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.sobre-cont h1{
    color: #E9D978;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 15px;
    background-color: transparent;
    width: 400px;
}

.sobre-cont span{
    color: white;
    filter: none;
}
.sobre-cont p{
    color: white;
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    width: 350px;

}
.sobre button{
    background-color: transparent;
    padding-left: 70px;
    padding-right: 70px;
}



/*-----------------PERSONAJES----------------------*/
#personajes{
    background-color: black;

}
#personajes h1{
    color: #E9D978;
    text-align: center;
    font-size: 85px;
    margin-top: -45px;
    
}

.tarjetas-personajes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.personaje{
    text-decoration: none;
}

.personaje img{
    width: 100px;
    height: 170px;
    border-radius: 8px;
}

.personaje h6{
    color: #E9D978;
    font-weight: lighter;
    font-size: 10px;
    text-align: center;
}

.personaje p{
    color: #ececec;
    font-weight: lighter;
    font-size: 8px;
    text-align: center;
}



/*--------------------FOOTER---------------------*/
footer{
    padding: 50px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
}

.nav-list-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 80%;
}

.nav-list-footer li a{
    text-decoration: none;
    cursor: pointer;
    color: #E9D978;
}



footer p{
    color: #ececec;
    text-align: center;
    margin-top: 10px;
}


/*-----------------GALERIA----------------------*/
#galeria{
    background-color: black;
    padding-top: 50px;
}
#galeria h1{
    color: #E9D978;
    font-size: 100px;
    position: relative;
    left: -30px;
    writing-mode: vertical-lr;
}

.mobile-div{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.conjunto-fotos{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
}

.conjunto-fotos img{
    position: static;
    margin-bottom: 20px;
}

.img-gal-1{
    width: 243px;
    height: 210px; 
}

.img-gal-2{
    width: 231px;
    height: 250px; 
}

.img-gal-3{
    width: 243px;
    height: 285px;     
}

.img-gal-4{
    width: 231px;
    height: 200px; 
}

.frase {
    position:relative;
    color: #ececec;
    text-align: center;
    font-size: 1rem;
    height: 110px;
    top: 0px;
    left: 70px;
}

.frase h4{
    width: 200px;
}
.frase i{
    font-size: 2rem;
    color: #E9D978;
}





/*-----------------SERENA----------------------*/
.body-serena{
    background-color: black;
}

.body-serena h1{
    color: #E9D978;
    text-align: center;
    font-size: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
}


.cont-columnas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin-left: 70px;
}

.columna1{
    display: block;
}

.img-serena-1{
    width: 350px;
}

.img-serena-2{
    width: 350px;
}

.img-serena-3{
    width: 350px;
}


.columna3{
    display: block;
    width: 350px;
    margin-bottom: -50px;
}

.columna3 p{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}


/*-----------------BLAIR----------------------*/
.body-blair{
    background-color: black;
}

.body-blair h1{
    color: #E9D978;
    font-size: 120px;
    position:absolute;
    left: -50px;
    writing-mode: vertical-lr;
    margin-top: 0px;
}

.cont-blair-mayor{
    display: block;
}

.cont-mitades{
    display: block;
    margin-top: 0px;
}

.mitad1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding-top: 25px;
}


.mitad1 p{
    text-align: center;
    font-size: 1rem;
    width: 60%;

}

.mitad2{
    display: flex;
    justify-content: center;
}

.mitad2 img{
    width: 250px;
}

.superpuesto{
    position:static;
}

.superpuesto img{
    width: 250px;
}



/*-----------------NATE----------------------*/

.body-nate{
    background-color: black;
}

.nate-mayor{
    display: block;
    margin-bottom: 0px;
    margin-top: 0px;
}

.nate-mayor h1{
    color: #E9D978;
    font-size: 65px;
    text-align: center;
}

.nate-mayor p{
    text-align: center;
    font-size: 1rem;
    width: 85%;
    margin-left: 0px;
    margin-top: 20px;
}

.mitad{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mitad img{
    width: 250px;
    margin-left: 0px;
    margin-top: 35px;
    margin-bottom: 35px;
}




/*-----------------CHUCK----------------------*/
.body-chuck{
    background-color: black;
}

.cont-mitades-chuck{
    display: flex;
    flex-direction: column-reverse;
}

.mitad-chuck-1{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    
}

.mitad-chuck-1 img{
    width: 65%;
}
.mitad-chuck-1 p{
    text-align: center;
    font-size: 1rem;
    width: 75%;
    margin-top: 0px;
    margin-bottom: 30px;
}

.mitad-chuck-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -350px;
}

.mitad-chuck-2 h1{
    position: relative;
    color: #E9D978;
    font-size: 80px;
    right: 0px;
    left: -210px;
    top: -400px;
    writing-mode: vertical-lr;
    margin-top: 0px;
}

.mitad-chuck-2 img{
    width: 300px;
    margin-bottom: 0px;
}






}