*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
}

body{
    background-image: url(/images/XOXO/intento.jpg);
    background-size: cover;
    background-position: center;
}

.cont-titulo{
    display: flex;
    justify-content: center;
}

.cont-titulo img{
    width: 75%;
}

.cont-columnas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 40px;
}

.columna-1{
    width: 25%;
    color: #ececee;
}

.columna-1{
    font-size: 20px;
}

.columna-1 p{
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 300;
}

.columna-2{
    background-color: aliceblue;
    width: 35%;
    border-radius: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.columna-2 h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 30px;
}
.columna-2 p{
    width: 90%;
    margin-bottom: 20px;
}

.columna-2 img{
    width: 330px;
    margin-bottom: 10px;
}

.azul{
    color: #406A94;
}

.marron{
    color: #956960;
}

.amarillo{
    color: #C5CAB3;
}

/*--------------------NAV------------------*/
ul{
    list-style: none;
}
li{
    margin-bottom: 10px;
    background-color: #E9D978;
    border-radius: 50%;
    width: 80px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 480px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter",sans-serif;
    }
    
    body{
        background-image: url(/images/XOXO/intento.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .cont-titulo{
        display: flex;
        justify-content: center;
    }
    
    .cont-titulo img{
        width: 75%;
    }
    
    .cont-columnas{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
    }
    
    .columna-1{
        width: 80%;
        color: #ececee;
    }

    .columna-1 h2{
        font-size: 30px;
    }
    
    .columna-1 p{
        margin-bottom: 15px;
        font-size: 1rem;
        font-weight: 300;
    }
    
    .columna-2{
        background-color: aliceblue;
        width: 80%;
        border-radius: 30px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .columna-2 h3{
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 30px;
    }
    .columna-2 p{
        width: 90%;
        margin-bottom: 20px;
    }
    
    .columna-2 img{
        width: 330px;
        margin-bottom: 10px;
    }
    
    .azul{
        color: #406A94;
    }
    
    .marron{
        color: #956960;
    }
    
    .amarillo{
        color: #C5CAB3;
    }
    
    /*--------------------NAV------------------*/
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 400px;
    }
    li{
        margin-bottom: 10px;
        background-color: #E9D978;
        border-radius: 50%;
        width: 60px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
    }
    a{
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}